# Group Class Acceptabilities

This module shows an example of how to use the "Group Class Acceptabilities" module.

In [1]:
%config Completer.use_jedi = False

## Definition of inputs

In [2]:
import pandas as pd
import sys
sys.path.append('../..')

from modular_parts.sorting import calculate_alternatives_support

## Problem formalization

In [3]:
categories = [f"C{i}" for i in range(1, 5)]
alternatives = [f"a{i}" for i in range(1, 13)]

In [4]:
DM1_assignments = pd.DataFrame(
    {'worse': ['C3', 'C3', 'C3', 'C1', 'C3', 'C3', 'C3', 'C4', 'C3', 'C1', 'C2', 'C4'],
     'better': ['C3', 'C3', 'C3', 'C1', 'C3', 'C3', 'C3', 'C4', 'C3', 'C1', 'C2', 'C4']}, index=alternatives)

DM2_assignments = pd.DataFrame(
    {'worse': ['C2', 'C2', 'C3', 'C1', 'C3', 'C3', 'C3', 'C4', 'C3', 'C1', 'C2', 'C4'],
     'better': ['C3', 'C3', 'C3', 'C3', 'C4', 'C3', 'C4', 'C4', 'C3', 'C2', 'C2', 'C4']}, index=alternatives)

DM3_assignments = pd.DataFrame(
    {'worse': ['C2', 'C2', 'C2', 'C3', 'C2', 'C2', 'C2', 'C3', 'C3', 'C1', 'C1', 'C3'],
     'better': ['C2', 'C2', 'C2', 'C4', 'C2', 'C2', 'C3', 'C4', 'C3', 'C2', 'C2', 'C4']}, index=alternatives)

DM4_assignments = pd.DataFrame(
    {'worse': ['C1', 'C2', 'C1', 'C3', 'C2', 'C2', 'C1', 'C2', 'C2', 'C1', 'C1', 'C3'],
     'better': ['C2', 'C3', 'C3', 'C4', 'C3', 'C3', 'C3', 'C4', 'C3', 'C3', 'C2', 'C4']}, index=alternatives)

assignments = [DM1_assignments, DM2_assignments, DM3_assignments, DM4_assignments]
assignments

[    worse better
 a1     C3     C3
 a2     C3     C3
 a3     C3     C3
 a4     C1     C1
 a5     C3     C3
 a6     C3     C3
 a7     C3     C3
 a8     C4     C4
 a9     C3     C3
 a10    C1     C1
 a11    C2     C2
 a12    C4     C4,
     worse better
 a1     C2     C3
 a2     C2     C3
 a3     C3     C3
 a4     C1     C3
 a5     C3     C4
 a6     C3     C3
 a7     C3     C4
 a8     C4     C4
 a9     C3     C3
 a10    C1     C2
 a11    C2     C2
 a12    C4     C4,
     worse better
 a1     C2     C2
 a2     C2     C2
 a3     C2     C2
 a4     C3     C4
 a5     C2     C2
 a6     C2     C2
 a7     C2     C3
 a8     C3     C4
 a9     C3     C3
 a10    C1     C2
 a11    C1     C2
 a12    C3     C4,
     worse better
 a1     C1     C2
 a2     C2     C3
 a3     C1     C3
 a4     C3     C4
 a5     C2     C3
 a6     C2     C3
 a7     C1     C3
 a8     C2     C4
 a9     C2     C3
 a10    C1     C3
 a11    C1     C2
 a12    C3     C4]

## Group Class Acceptabilities

In [5]:
actual_support, actual_unimodal_support = calculate_alternatives_support(categories, assignments)

In [6]:
actual_support

        C1     C2     C3     C4
a1    25.0   75.0   50.0    0.0
a2     0.0   75.0   75.0    0.0
a3    25.0   50.0   75.0    0.0
a4    50.0   25.0   75.0   50.0
a5     0.0   50.0   75.0   25.0
a6     0.0   50.0   75.0    0.0
a7    25.0   50.0  100.0   25.0
a8     0.0   25.0   50.0  100.0
a9     0.0   25.0  100.0    0.0
a10  100.0   75.0   25.0    0.0
a11   50.0  100.0    0.0    0.0
a12    0.0    0.0   50.0  100.0

In [7]:
actual_unimodal_support

        C1     C2     C3     C4
a1    25.0   75.0   50.0    0.0
a2     0.0   75.0   75.0    0.0
a3    25.0   50.0   75.0    0.0
a4    50.0   50.0   75.0   50.0
a5     0.0   50.0   75.0   25.0
a6     0.0   50.0   75.0    0.0
a7    25.0   50.0  100.0   25.0
a8     0.0   25.0   50.0  100.0
a9     0.0   25.0  100.0    0.0
a10  100.0   75.0   25.0    0.0
a11   50.0  100.0    0.0    0.0
a12    0.0    0.0   50.0  100.0